PORT=5050
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/myPortfolio?retryWrites=true&w=majority
CLIENT_URL=http://localhost:5173

# Admin Dashboard Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
